<h1>Create a new task</h1>
<%= form_for(Task.new) do |f| %> 
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title %></p>
  <p><%= f.label :details %></p>
  <p><%= f.text_field :details %></p>
  <p><%= f.submit %></p>
<% end %>

<p><%= link_to 'Back', tasks_path %></p>
